<%- include("../header.ejs") %> <%- include("../sidebar.ejs") %>
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Display</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Display</li>
          </ol>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
  <!-- </div> -->
  <div class="card">
    <button
      type="button"
      class="btn btn-info"
      style="float: left"
      data-toggle="modal"
      data-target="#modal-default"
    >
      Add Students
    </button>
    <!-- /.card-header -->
    <div class="card-body">
      <table id="example1" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Course</th>
            <th>Roll Number</th>
            <th>Semester</th>
            <th>Image</th>
            <th>Action</th>
          </tr>
        </thead>
        <tfoot>
          <tbody>
          <% d.forEach((item)=>{%>

          <tr>
            <td><%=item._id%></td>
            <td><%=item.name%></td>
            <td><%=item.email%></td>
            <td><%=item.phone%></td>
            <td><%=item.course%></td>
            <td><%=item.rollnumber%></td>
            <td><%=item.semester%></td> 
            <td><img src="<%= item.image.url %>" width="50px" alt="" /></td>
            <td>
              <a href="/admin/studentview/<%=item._id%>" class="btn btn-info"><i class="fa-solid fa-eye"></i></a>
              <a href="/admin/studentedit/<%=item._id%>" class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></a>
              <a href="/admin/studentdelete/<%=item._id%>" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
            </td>
          </tr>
          <% })%>
        </tbody>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>

<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Students</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          action="/admin/studentInsert"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
            <label for="">Student Name</label>
            <input type="text" name="name" class="form-control" value="" required />
            <label for="">Email</label>
            <input type="email" name="email" class="form-control" required/>
            <label for="">DOB</label>
            <input type="date" name="dob" class="form-control" required/>
            <label for="">Phone</label>
            <input type="number" name="phone" class="form-control" required/>
            <label for="">Roll Number</label>
            <input type="number" name="rollnumber" class="form-control" required/>
            <label for="">Address</label>
            <textarea name="address" class="form-control" required></textarea>
            <label for="">Password</label>
            <input type="password" name="password" class="form-control" required />
            <label for="">Confirm password</label>
            <input type="password" name="confirmpassword" class="form-control" required />
            <!-- <label for="">Course</label>
            <input type="course" name="course" class="form-control" required/> -->
            <label for="">Course</label>
            <select type="course" name="course" class="form-control" required>
              <option value="">Select Course</option>
              <% course.forEach((course)=>{%>
                <option value="<%= course.course%>"><%= course.name%></option>
             <% })%>
            </select>

            <!-- <label for="course">Course:</label>
            <br>
            <select id="course" name="course" required>
                <option value="" disabled selected>Select Course</option>
                <option value="mca">MCA</option>
                <option value="bca">BCA</option>
                <option value="btech_it">Btech(IT)</option>
                <option value="btech_cs">Btech(CS)</option>
                <option value="btech_civil">Btech(Civil)</option>
                <option value="btech_mech">Btech(MECHANICAL)</option>
                <option value="btech_elec">Btech(ELECTRONICS)</option>
                <option value="mtech">M-Tech</option>
                <option value="mba">MBA</option>
                <option value="bba">BBA</option>
            </select>
            <br> -->
            <label for="semester">Semester</label>
            <br>
            <select id="semester" class="form-control" name="semester" required>
                <option value="" disabled selected>Select Semester</option>
                <option value="1st Year">1st Year</option>
                <option value="2nd Year">2nd Year</option>
                <option value="3rd Year">3rd Year</option>
                <option value="4th Year">4th Year</option>
            </select>
            <br>
            <label for="">Image</label>
            <input type="file" name="image" class="form-control" required/>
            <center>
              <button
                class="btn btn-info"
                type="submit"
                style="margin-top: 25px"
              >
                Submit
              </button>
            </center>
          </div>
        </form>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<%- include("../footer.ejs") %>
